@import "tailwindcss";


@layer components{

  .linkNav{
    @apply text-[1.1em] font-bold transition-colors duration-200 hover:text-blue-500 active:text-blue-300
  }
  .secondLink{
    @apply text-[1em] font-bold text-white transition-opacity duration-200 hover:opacity-80 active:opacity-60
  }
  .plusButton{
    @apply text-white bg-blue-500 w-[30px] h-[20p] rounded-lg transition-opacity duration-200 hover:opacity-70 active:opacity-50 cursor-pointer font-black text-[1em]
  }
}

.smoothPulse {
  display: inline-block;
  animation: smoothPulse 2s infinite ease-in-out;
}

@keyframes smoothPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
